{% extends 'base.html.twig' %}

{% block title %}Hello CommitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    tr.active { color: #E6F1F6 }
</style>

<div class="example-wrapper">
    <h1>Last commits by  {{ controller_name }}! ✅</h1>

    Commit List:
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Author name</th>
                <th>Author email</th>
                <th>SHA</th>
            </tr>
        </thead>
        <tbody>
            {% for commit in commits %}
            <tr {% if endsInNumber(commit.sha) %} class="active" {% endif %}>
                <td>{{loop.index}}</td>
                <td>{{commit.authorName}}</td>
                <td>{{commit.authorEmail}}</td>
                <td>{{commit.sha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
